
*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,*:before,*:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,:active{outline: none;}
  a:focus,a:active{outline: none;}
  
  nav,footer,header,aside{display:block;}
  
  html, body {
    height:100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-align-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,button,textarea{ 
    font-family: inherit;
  }
  
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner {padding:0; border:0;}
  a, a:visited{text-decoration: none;}
  a:hover{ text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  
  h1,h2, h3, h4, h5, h6{
    /* font-size:inherit; */
  }
  html,  
  body{
      height:100%;
      line-height: 1;
      font-size: 16px;
      color: #000;
  }

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}  
  
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
  

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}
.main{
  flex: 1 1 auto;
}

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 2.1rem;
}
h3{
    font-size: 1.8rem;
    font-weight: normal;
}

h4, h5{
    font-size: 1.5rem;
}

li,button,label,input,p{
    font-size: 2rem;
}

   
/* nav */
.main-head {
    padding: 1rem 0;
    text-align: end;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}
.main-head::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #131c27;
    z-index: 2;
}

.head {}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 3rem;
    align-items: center;
}
.logo{
    position: relative;
    z-index: 3;
}
nav a{
    color: white;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index:2 ;
}
.nav-links .nav-link{
    margin-right: 20px;
}
.nav-links .nav-link a{
    color:  white;
    transition: all 0.3s ease 0s;
}
.nav-links .nav-link a:hover{
    color:  rgb(202, 202, 202);
}

.header__burger{
    display: none;
}

.content{
    padding: 5.6rem 0px 0px 0px;
}

/* Hero */
.hero{
    min-height: 90vh;
    /* background: url("../img/landing-page.jpg") no-repeat ; */
    /* background: linear-gradient(black, transparent) , url("../img/landing-page.jpg") no-repeat ; */
    background: linear-gradient(rgba(0,0,0,.5), transparent) , url("../img/landing-page.jpg") no-repeat ;
    background-size: cover;
    /* background-position: center; */
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    display: flex;
    align-items: center;
    line-height: 35px;
    position: relative;
    z-index: 3;
}

.hero h3{
    margin-top: 2rem;
}

.hero button{
    margin: 2rem;
    padding: 10px;
    border: 1px solid white;
    border-radius: 3px;
    background: transparent;
    color: white;
    text-shadow: 1px 1px 1px black;
    transition: all 0.3s ease 0s;
}
.hero button:hover{
    background: rgb(166, 176, 177);
    transition: all 0.3s ease 0s;
    border-radius: 50%;
}

/* locations */
.locations{
   min-height: 110vh;
   /* background: url('../img/new-york-page.png'); */
   background: linear-gradient(rgba(0,0,0,.5), transparent) , url("../img/new-york-page.png") no-repeat ;
   background-size: cover;
   background-position: center;  
   
   position: relative;
}

.locations__header{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    justify-content: flex-end; 
    position: relative;
    z-index: 4;
}

.locations__header h2{
    margin: 150px 0px 30px 0px;
}

.locations__header h3{
    line-height: 35px;

    /* CSS Gradient Text */
    background: -webkit-linear-gradient(rgb(4, 4, 58), rgb(156, 164, 165));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* cloud */
.cloud{
    position : absolute;
    top: 0;
    right: 0;

    /* pointer-events: none; */
}
.moving-cloud-1{
   z-index: 2;
   animation: cloudAnimationFront 3s infinite alternate ease-in-out;
}
.moving-cloud-2{
    top: 20%;
    z-index: -1;
    opacity: .5;
    animation: cloudAnimationBack 3s infinite alternate ease-in-out;
}

@keyframes cloudAnimationFront{
    0%{
        transform: translate(10%, -10%);
    }
    100%{
        transform: translate(0%, 0%);
    }
}
@keyframes cloudAnimationBack{
    0%{
        transform: translate(0%, 0%);
    }
    100%{
        transform: translate(10%, -10%);
    }
}

/* benefits */

.benefits{

}
.benefits__header-wrapper{
    background: rgb(129, 129, 129);
}
.benefits__header{
    text-align: center;
    padding: 25px 0 35px 0;
    color: white;
}
.benefits__header h2{
    padding: 3rem 0;
    font-weight: bold;
}

.benefits__header h3{
    line-height: 35px;
}

/* benefits__items */

.benefits__items{
   display: flex;
   margin: 30px 0;
   /* justify-content: space-between; */
}
.benefits__item{
    /* margin: 40px auto; */
    margin: 10px auto;
    max-width: 300px;
    /* flex: 1 1 25rem; */
    display: flex;
    flex-direction: column;
    min-height: 50px;
    box-shadow: 1px 1px 15px  rgb(141, 141, 141);
    animation: benefitsItemAnimation 3s infinite alternate ease-in-out;
}
.item-block-icon{
    min-height: 50px;
    background: #131c27;
    text-align: center;
}
.item-block-icon img{
    max-width: 50px;
    padding: 10px;
}
.benefits__item .item-block-body{
    flex: 1 1 auto;
}
.item-block-header{
    text-align: center;
    padding: 20px 0;
}
.item-block-body{
    line-height: 35px;
    padding: 7px 7px  25px 7px ;
    text-align: center;
}


@keyframes benefitsItemAnimation{
    0%{
        transform: translate(0%, -2%);
    }
    100%{
        transform: translate(0%, 0%);
    }
}

/* contact */
.contact{
    /* background: url('../img/contact-mountain.png'); */
    background: linear-gradient(rgba(0,0,0,.5), transparent) , url("../img/contact-mountain.png") no-repeat ;
    background-size: cover;
    background-position: center; 
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.contact__wrapper{
    background: rgba(51, 51, 59, 0.7);
    border: 1px solid rgba(51, 51, 59, 0.5);
    /* border-radius: 8px 8px 0px 0px; */
    border-radius: 10px;
}
.contact__header h2{
    color: white;
    text-align: center;
    margin: 20px 0 25px;
}


.contact__form{
    display: flex;
    flex-direction: column;
}

.form-items{
    margin: 20px 140px;
}
.form-item{
    margin: 20px;
}
.form-item label {
   margin: 0rem 3rem;
   /* flex: 1 1 auto; */
}
.form-item input{
    margin: 10px;
    width: 100%;
    padding-left: 10px;
}

.form-btn{
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 10px 10px ;
}
.btn{
    padding: 15px 0px;
    font-size: 95%;
    color: white;
    width: 100%;
    background: rgb(79, 86, 126);
    border-radius: 0px 0px 10px 10px ;
    transition: all 0.3s ease 0s;
}
.btn:hover{ 
    background: rgb(96, 101, 133);
    transition: all 0.3s ease 0s;
}

/* footer */
.main-footer{
    color: white;
    background: #131c27;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
}

/* media queries */
@media (max-width: 999px) {
    .benefits__header{
        padding: 20px 0 25px 0;
    }
    .benefits__header h2{
        padding: 1rem 0;
    }
    
    .benefits__header h3{
        line-height: 30px;
    }

    .benefits__items{
       flex-wrap: wrap;
    }
    .item-block_1, .item-block_2{
        max-width: 45%;
        margin-bottom: 25px;
    }
    .item-block_3{
        max-width: 100%;
        margin: 0 15px 0 15px;
    }
}

@media (max-width: 900px){
    .nav-link a{
       font-size: 85%;
    }
}

/*  */
@media (max-width: 800px){
    .form-items{
        max-width: 700px;
        margin: 10px 10px;
    }
    .contact__header h2{
        margin: 10px 0 0px;
    }

    .contact{
        min-height: 80vh;
    }

}
@media (max-width: 767px){
    .hero button{
        margin: 1rem;
    }
    .hero h3{
        margin-top: 1rem;
    }
    .hero{
        min-height: 80vh;
        line-height: 25px;
    }

    .locations__header h2{
        margin: 100px 0px 20px 0px;
    }
    
    .locations__header h3{
        line-height: 25px;
    }

    .locations{
        min-height: 100vh;
    }

    .benefits__header{
        padding: 15px 0 25px 0;
    }
    .benefits__header h2{
        padding: 2rem 0;
    }
    
    .benefits__header h3{
        line-height: 25px;
    }
}   
   @media (max-width: 767px){
   
       html{
          font-size: 65%;
       }
       body.lock{
           overflow: hidden;
       }
       nav{
           height: 2.5rem;
       }
       .logo h1{
          font-size: 2rem;
       }
       .header__burger{
           display: block;
           position: relative;
           width: 30px;
           height: 20px;
           position: relative;
           z-index: 3;
       }
       .header__burger span{
           background-color: #fff;
           position: absolute;
           left: 0;
           width: 100%;
           height: 2px;
           top: 9px;
           transition: all 0.3s ease 0s;
       }
       .header__burger::before,
       .header__burger::after{
           content: '';
           background-color: #fff;
           position: absolute;
           width: 100%;
           height: 2px;
           left: 0;
           transition: all 0.3s ease 0s;
       }
       .header__burger::before{
           top: 0;
       }
       .header__burger::after{
           bottom: 0;
       }
       .header__burger.active span{
           transform: scale(0);
       }
       .header__burger.active::before{
             transform: rotate(45deg);
             top: 9px;
       }
       .header__burger.active::after{
           transform: rotate(-45deg);
           bottom: 9px;
       }
       .header__menu{  
           position: fixed;
           top: -100%;
           left: 0; 
           width: 100%;
           height: 100%;
           overflow: auto;
           transition: all 0.3s ease 0s;
           background-color: rgb(107, 107, 103);
           padding: 70px 0px 0px 0px;
       }
    
       .header__menu.active{
           top: 0;
       }
    
       .nav-links{  
           display: block;
       }
   
       .nav-links li{  
           margin: 25px 0;
       }
     
       .nav-link{  
           font-size: 27px;
       }
   }
   
   
   @media (max-width: 767px){
       .content{
           padding: 5rem 0px 0px 0px;
       }
   }

   @media (max-width: 660px){
    .item-block_1, .item-block_2, .item-block_3{
        max-width: 100%;
        margin: 10px 15px;
    }
    .contact{
        min-height: 70vh;
    }
   }

   @media (max-width: 510px){
    .hero h3{
        font-size: 90%;
    }

    .locations__header h3{
        font-size: 90%;
    }

    .locations{
        min-height: 80vh;
    }

    .benefits__header h3{
        font-size: 90%;
    }
}